body {
    font-family: "Montserrat", sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    color: white;
    overflow: hidden;
}


.main {
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}

.sidebar {
    background-color:
        black;
    width: 330px;
    border-radius: 1rem;
    margin-right: 0.5rem;
}

.main-content {
    background-color: #1D1D1D;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
}

.main-player {
    background-color: rgb(0, 0, 0);
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
}

.nav {
    background-color: #1D1D1D;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    height: 100px;
    padding: 0.5rem 0.75rem;

}

.nav-option {
    opacity: 0.7;
    line-height: 2.5rem;
    padding: 0.3rem 1.75rem;
}

.nav-option:hover {
    opacity: 1;
    transition: 0.5s;

}

a {
    text-decoration: none;
    color: white;
}
.nav-option i {
    font-size: 1.25rem;
}

.nav-option a {
    font-size: 1rem;
    margin-left: 1rem;
    font-weight: bold;

}

.library {
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.3rem 0.75rem;
}


.options {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.lib-option img {
    height: 1.5rem;
    width: 1.25rem;
}

.icons {
    font-size: 1.25rem;
    display: flex;
}

.icons i {
    opacity: 0.75;
    margin-right: 1rem;
}

.icons i:hover {
    opacity: 1;
    transition: 0.5s;
}

.box {
    background-color: #1F1F1F;
    height: 7.3rem;
    border-radius: 0.75rem;
    margin: 0.75rem 0 1.5rem 0;
    padding: 0.25rem 0.5rem 1.25rem 1.25rem;
}

.box-p1 {
    font-size: 1rem;
    font-weight: 500;
}

.box-p2 {
    font-size: 0.85rem;
    opacity: 0.86;
}

.badge {
    background-color: white;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;
}

.badge:hover {
    cursor: pointer;
    font-weight: bolder;
    /* transform: scale(1.03);
    height: 2.15rem; */
    background-color: rgb(206, 206, 206);
    transition: 0.2s;
}

.badge-download {
    background-color: #000;
    color: #fff;
}

.badge-download:hover {
    background-color: #000;
    color: #fff;
    cursor: pointer;
    font-weight: bolder;
    transition: 0.2s;
}

.sticky-nav {
    position: sticky;
    background-color: #121212;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 10;
}

.sticky-nav-icons {
    margin-top: 10px;
}

.sticky-nav-icons .nav-img {
    background-color: black;
    color: white;
    border-radius: 50%;
    font-size: 2rem;
    margin-left: 0.75rem;
}

.sticky-nav-icons .nav-img:hover {
    cursor: pointer;
    transform: scale(1.01);
    transition: 0.2s;
    background-color: #292929;
    color: #000;
}

.sticky-nav-options {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    margin-right: 1.2rem;
}

@media (max-width:1000px) {
    .sticky-nav .hide {
        display: none;
    }
}

.card {

    background-color: #2423238a;
    width: 170px;
    border-radius: 0.5rem;
    padding: 0.75rem;
    margin-left: 1.75rem;
    margin-top: 1rem;
}

.card:hover {
    cursor: pointer;
    background-color: #242323;
    transition: 0.3s;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 1.5rem 0 1.5rem;
}

h2 {
    padding: 0 1.5rem 0 1.5rem;
}

.card-img {
    width: 100%;
    border-radius: 0.5rem;

}

.card-title {
    font-weight: 600;
}

.card-info {
    font-size: 0.85rem;
    opacity: 0.8;
}

.footer {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line {
    height: 30%;
    width: 90%;
    border-top: 1px solid white;
    opacity: 0.4;
}

.main-player {
    display: flex;
}

.player {
    width: 50%;

}

.controls {
    width: 25%;
}

.player-control {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 5px;
}

.player-play-icon {
    height: 2.3rem;
}

.player-corner-icon {
    height: 1rem;
    opacity: 0.8;
}

.player-corner-icon:hover {
    opacity: 1;
}

.player-middle-icon {
    height: 1.2rem;
    opacity: 0.6;
}

.player-middle-icon:hover {
    opacity: 1;
}

.player-icon:hover {
    cursor: pointer;
}

.playback-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.progress-bar {
    width: 80%;
    background: transparent;
    appearance: none;
    cursor: pointer;

}

.progress-bar::-webkit-slider-runnable-track {
    background-color: #ddd;
    height: 0.2rem;
    border-radius: 100px;
}

.progress-bar::-webkit-slider-thumb {
    appearance: none;
    height: 0.8rem;
    width: 0.8rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -6px;
}

.album {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.album-img {
    height: 50px;
}

.song-name {
    margin: 5px 10px 5px 18px;
    ;
    font-size: 0.9rem;
    font-weight: 500;
}

.artist {
    margin: 0px 0 10px 18px;

    font-size: 0.6rem;
    opacity: 0.8;
    font-weight: 400;
}

.album-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.album-icon .favroute {
    margin-left: 2rem;
    height: 1.5rem;
    cursor: pointer;
    opacity: 0.7;
}

.album-icon .screen {
    height: 1.7rem;
    cursor: pointer;
}

.controls {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.controls img {
    height: 2.5rem;
}

.controls img:hover {
    opacity: 1;
}

.controls .menu {
    height: 1.4rem;
    opacity: 0.7;
}

.controls .capture {
    height: 1.2rem;
    opacity: 0.7;
}




.volume {
    appearance: none;
    cursor: pointer;
}

.volume::-webkit-slider-runnable-track {
    background-color: #ddd;
    height: 0.2rem;
    border-radius: 100px;
}

.volume::-webkit-slider-thumb {
    appearance: none;
    height: 0.6rem;
    width: 0.6rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -4px;
}